* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ece8ec;
}

.navbar {
    background-color: #bbbcef;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item {
    display: flex;
    column-gap: 1.5rem;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

.menu-item a:hover {
    color: blue;
}