* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 60vw;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    background-color: blue;
    color: black;
}

.logo img {
    width: 3rem;
    height: 3rem;
    padding: 0.2rem 0 0.2rem 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 0.5rem;
}

.search input {
    height: 1.5rem;
}

.menu-items {
    display: flex;
    column-gap: 2rem;
}

a {
    color: white;
    text-decoration: none;
}